<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static "css/mystyle.css" %}"> -->
</head>
<body>
    <h1>Django Access Record:</h1>
    <h2> Here are you record: </h2>
    <div class="django">
        {% if acess_record %}
        <table>
            <thead>
                <th>Site Name</th>
                <th>Date Accessed</th>
            </thead>
            {%  for acc in  acess_record %}
        <tr>
            <td> {{ acc.name }} </td>
            <td> {{ acc.date }} </td>
        </tr>
        {% endfor %}
        </table>
        {% else %}
            <p>No Acess Record</p>
        {% endif %}    
    </div>
</body>
</html> 